.commodity table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.commodity table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #dddddd;
}

.commodity table th {
    background-color: #f2f2f2;
    color: #333333;
}

.commodity table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.commodity .btn {
    width: 70px;
    height: 30px;
    padding: 3px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    border-style: none;
    border-radius: 7px;
    cursor: pointer;
}

.commodity .insert {
    background-color: #41a95c;
}

.commodity .insert:hover {
    background-color: #369750;
}

.commodity .update {
    background-color: #7ec7df;
}

.commodity .update:hover {
    background-color: #64b9d5;
}

.commodity .submit {
    background-color: #2778c4;
}

.commodity .submit:hover {
    background-color: #296fb1;
}

.commodity .cancel {
    background-color: #c5c3c3;
}

.commodity .cancel:hover {
    background-color: #c1bbbb;
}

.commodity .search {
    background-color: #2778c4;
    margin-left: 20px;
}

.commodity .search:hover {
    background-color: #296fb1;
}

.commodity .popup {
    height: 470px;
    width: 30%;
    position: fixed;
    top: 10%;
    left: 35%;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 2;
    overflow: auto;
}

.commodity .popup_head {
    width: 100%;
    height: 7%;
    background-color: #2d8cf0;
    padding-top: 3px;
    padding-left: 10px;
    font-size: 25px;
    color: #ffffff;
}

.commodity .popup_data {
    margin: 10px;
}

.commodity .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.commodity .text {
    width: 100%;
    height: 25px;
    padding-left: 10px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #d0d7deb3;
    border-radius: 7px;
    outline-color: #2a46e3;
}

.commodity .textarea {
    width: 100%;
    padding-left: 10px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #d0d7deb3;
    border-radius: 7px;
    outline-color: #2a46e3;
}

.commodity .select {
    width: 85px;
    padding: 5px;
    font-size: 15px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.commodity .select option {
    background-color: white;
    color: #333;
    font-size: 14px;
}

.commodity .select:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

.commodity .sort {
    cursor: pointer;
}

.commodity .search_area {
    display: flex;
    width: 100%;
    padding: 16px;
    font-size: 14px;
    background-color: #f6f8fa;
    border-style: solid;
    border-width: 1px;
    border-color: #d0d7deb3;
    border-radius: 5px;
}

.commodity .search_text {
    width: 20%;
    height: 25px;
    padding-left: 10px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #d0d7deb3;
    border-radius: 7px;
    outline-color: #2a46e3;
    margin-left: 10px;
    margin-right: 30px;
}

.commodity .search_select {
    width: 95px;
    padding: 3px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.commodity .required_mark {
    color: red;
}

.commodity .preview_img {
    width: 100px;
    height: 100px;
}