* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: #333;
    color: #fff;
    overflow-y: auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 10px 20px;
}

.menu li:hover {
    background-color: #1861d5;
    cursor: pointer;
    }

.menu li a {
    color: #f1f1f1;
    text-decoration: none;
}


.main-content {
    margin-left: 200px; /* Adjust this to match the width of the sidebar */
    padding: 20px;
}