* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 230px;
    background-color: #333;
    color: #fff;
    overflow-y: auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 10px 20px;
}

.menu li:hover {
    background-color: #1861d5;
    cursor: pointer;
    }

.menu li a {
    color: #f1f1f1;
    text-decoration: none;
}

.main-content {
    margin-left: 230px; /* Adjust this to match the width of the sidebar */
    padding: 20px;
}

.languageSelect {
    width: 85px;
    padding: 5px;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.languageSelect option {
    background-color: white;
    color: #333;
    font-size: 14px;
}

.languageSelect:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}